div
	nav.top-nav
		.nav-wrapper
			h2 <i class="fa fa-heart"></i> My lovely fridge
	.event-other
		graph
		//- h4 Fridge status
		//- .alert(ng-show="vm.fridgeAlert")
		//- 	h1.alertHeading.center-align ALERT!
		//- 	img(src="./media/fridge.png")