.event-other {
	@include container;
	padding: gutter(5);
	margin-bottom: gutter(5);

	.ct-chart {
		height: 70vh;
	}
	
	.alert {
		text-align: center;
	}

	.alertHeading {
		font-size: 100px;
		color: #C80000;
		font-weight: 700;
	}
}

nav.top-nav {
	height: 122px !important;
	padding: 20px 0 120px 0 !important;
}