.landing
	article
		object#SVGlogo(type="image/svg+xml", data="media/logo-white.svg", width="500px")
		h2 Collect data, share data and earn money 
		a.btn.btn-large(ui-sref="home") GET STARTED
	video.video-background(autoplay loop)
		source(src="./media/Big-City-Life.mp4")